.comment-entry {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #dddddd;
  padding: 5px;
  background-color: #fff4f0;

  &--deleted {
    opacity: 0.5;
  }

  &--new.comment-entry {
    background-color: #ffff99;
  }

  &--resolved {
    background-color: white;
  }

  &:last-child {
    margin-bottom: 20px;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3px;
  }

  &__action {
    display: inline-flex;
    margin-right: 5px;
    font-size: 11px;
    @include hoverable(#EEE);
  }

  &__action-image {
    width: 11px;
    height: 11px;
    margin-right: 5px;
  }

  &__date {
    color: gray;
    font-size: 12px;
    font-style: italic;
  }

  &__comment {
    word-break: break-word;
  }
}