.search-dialog {
  width: 60%;
  height: 80%;

  &__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
  }

  &__search-toolbar {
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__search-checkbox {
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  &__results-toolbar {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }

  &__results-toolbar-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    white-space: pre;
  }

  &__page {
    margin: 0 5px;
  }

  &__navigation-button {
    padding: .1875rem .375rem;
    @include hoverable(white);

    img {
      height: 15px;
    }
    &:disabled {
      img {
        opacity: 0.2;
      }
    }
  }

  &__results-container {
    margin: 10px 0;
    overflow: auto;
    height: 100%;
  }

  &__message {
    color: gray;
    text-align: center;
    margin-top: 10px;
  }

  &__result {
    border: 1px solid #999;
    padding: 10px;

    &:first-child {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  &__result-row {
    display: flex;

    &--right {
      font-style: italic;
      color: #BBB;
      font-size: 12px;
      white-space: pre;
    }
  }
}

.release-dialog {
  width: 30%;
  height: 30%;

  &__input {
    margin-bottom: 5px;
  }

  &__screen {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  &__spinner {
    width: 50px;
    height: 50px;
  }

  &__button {
    @include hoverable(#fff9ea);
  }
}

.comments-dialog {
  width: 70%;
  height: 70%;

  &__body {
    display: flex;
    flex-grow: 1;
    height: 100%;
  }

  &__left {
    flex: 0 0 40%;
  }

  &__right {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    flex: 0 0 60%;
  }

  &__right-bottom {
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
  }

  &__comments {
    border: 1px solid lightgrey;
    border-radius: 5px;
    overflow-y: auto;
    flex-grow: 1;
    background-color: #f3f3f3;
  }

  &__comment-container {
    margin-top: 5px;
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__comment-input {
    margin-right: 5px;
    flex-grow: 1;
  }

  &__comment-submit {
    @include hoverable(#EEE);
  }
}