.editor {
  display: flex;
  flex-direction: column;

  &__progress {
    height: 5vh;
    line-height: 5vh;
  }

  &__panels-container {
    display: flex;
    height: 90vh;
  }

  &__panel {
    display: flex;
    flex-direction: column;

    &--left {
      flex: 0 0 25%;
    }
    &--right {
      position: relative;
      flex: 0 0 75%;
    }
  }

  &__files {
    position: relative;
    overflow-y: scroll;
  }

  &__lines {
    overflow-y: scroll;
    padding: 10px 5px 30px;
    flex-grow: 1;
  }



  &__statusbar {
    min-height: 25px;
    border-top: 1px solid gray;
    display: flex;
    align-items: center;
    background: #f5fcff;
  }

  &__statusbar-item {
    margin: 0 5px;
    width: 100%;
    flex-grow: 0;

    &--middle {
      text-align: center;
    }

    &--right {
      text-align: right;
    }
  }
  &__toolbar {
    padding: 5px;
    display: flex;
    justify-content: space-between;
  }

  &__toolbar-group {
    position: relative;
    margin-right: 10px;
  }

  &__toolbar-group-header {
    font-size: 9px;
    text-align: center;
    position: absolute;
    top: -5px;
    left: 10%;
    background-color: white;
  }

  &__toolbar-group-body {
    padding-top: 3px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    height: 100%;
    display: flex;
  }

  &__toolbar-spacer {
    margin-right: 10px;
  }

  &__toolbar-button {
    margin: 3px 5px;
    padding: 0;
    display: flex;
    align-items: center;
    @include hoverable(white);

    img {
      height: 20px;
    }

    &:disabled {
      img {
        opacity: 0.5;
      }
    }

    &--small {
      padding: .1875rem .375rem;

      img {
        height: 10px;
      }
    }

    &--search {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      margin: 0 10px 0 0;
      height: 100%;
      border: 2px solid $gray-border-color;
      border-left: 0;
      background: #F0EEEE;

      &:focus {
        outline: none;
        background-color: darken($gray-border-color, 10%);
      }
    }
  }

  &__toolbar-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    height: 100%;
    &:focus {
      box-shadow: none;
      border: 2px solid #aedade;
      border-right: none;
      outline: none;
    }
  }

  &__lookup {
    box-shadow: 2px 2px 5px 1px grey;
    position: absolute;
    padding: 7px 12px;
    top: 1%;
    right: 1%;
    max-width: 25%;
    min-width: 17%;
    text-align: center;
    opacity: 0.8;
    background: white;
    border-radius: 5px;
    border: 1px solid gray;

    animation-name: fade-in2;
    animation-duration: 0.5s;

      @keyframes fade-in2 {
        from { opacity: 0; }
        to { opacity: 0.8; }
      }
  }

  &__lookup-image {
    width: 15px;
    height: 15px;
    margin: 0 4px;
    border-radius: 3px;

    &:hover {
      cursor: pointer;
      opacity: 0.4;
    }
  }

  &__lookup-close {
    width: 10px;
    position: absolute;
    top: 7px;
    right: 7px;

    &:hover {
      cursor: pointer;
      opacity: 0.4;
    }
  }

  &__lookup-images {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__lookup-term {
    padding: 5px 0;
    color: darkslategray;

    &:hover {
      opacity: 0.9;
    }
  }

  &__toolbar-right-container {
    display: flex;
    align-items: center;
    margin-right: 7px;
    flex-grow: 1;
    justify-content: flex-end;
  }
}