.file-entry {
  padding: 5px 10px;
  cursor: pointer;

  &__progress {
    padding: 5px 0;
    height: 20px;
    font-size: 10px;
  }

  &__bottom {
    display: flex;
    align-items: baseline;
  }

  &__info {
    margin-left: 5px;
    opacity: 0.3;
    height: 10px;
    cursor: auto;
    &:hover {
      opacity: 0.5;
    }
  }

  &__right {
    margin-left: auto;
    display: flex;
  }

  &__comments {
    display: flex;
    align-items: center;
    font-size: 12px;
  }

  &__comments-image {
    margin-left: 2px;
    width: 15px;
    height: 15px;
  }

  &__badge {
    margin-left: 5px;
    padding: .25em .4em;
    border-radius: 5px;
    color: #fff;
    background-color: #6c757d;
    font-weight: 700;
    font-size: 8px;
  }
}