.graph {
  display: flex;

  &__container {
    height: 100%;
    flex: 0 0 75%;
  }

  &__navigation {
    flex: 0 0 25%;
    border-left: 2px solid gray;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
  }

  &__navigation-current {
    flex-grow: 1;
    line-height: 28px;
  }

  &__navigation-jump {
    margin: 0 10px;
  }

  &__navigation-jump-container {
    display: flex;
    flex-direction: column;
  }

  &__navigation-current-container {
    padding: 10px 0;
    margin: 5px 0;
    display: inline-flex;
  }

  &__editor-button {
    @include hoverable(#dadace);
  }
}