.line-entry {
  margin-bottom: 10px;
  display: flex;

  &--highlighted {
    box-shadow: 0 0 10px 3px dodgerblue;
  }

  &--edited {
    box-shadow: 0 0 10px 3px yellow;
  }

  &--unquoted {
    font-size: 0;
  }

  &--reference {
    margin: 0;
  }

  &__actions {
	background-color: #eee;
	width: 20px;
	border: 2px solid #ddd;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-left: none;
    margin-left: -5px;
  }

  &__action-item {
	width: 100%;
	padding: 2px 4px;

    &:hover {
      cursor: pointer;
	  filter: invert(0.5);
    }
  }

  &__action-item-image {
    width: 100%;
  }

  &__action-item-image-text {
    font-size: 10px;
    text-align: center;
    margin-top: -5px;
  }

  &__heading {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 5px;
  }

  &__input {
    width: 100%;
    overflow: hidden;
    font-size: initial;

    &:disabled {
      background: rgba(255,255,255, 0.5);
      border-color: transparent;
      color: #555;
    }
  }

  &__name-edit {
    min-height: 13px;
    height: 13px;
    min-width: 13px;
    width: 13px;
    opacity: 0.1;
    margin-left: 5px;
    &:hover {
      opacity: 0.4;
      cursor: pointer;
    }
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__cell {
    word-break: break-word;
    padding: 3px;

    &--flex {
      display: flex;
    }

    &--flex-center {
      display: flex;
      align-items: center;
    }

    &--short {
      flex: 0 0 10%;
      min-width: 60px;
    }

    &--wide {
      flex: 0 0 90%;
    }

    &--half-left {
      flex: 0 0 30%;
    }

    &--half-right {
      flex: 0 0 70%;
    }
  }

  &__button {
    color: #fff;
    @include hoverable(#17a2b8);
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}