.main {
  display: flex;
  flex-direction: column;

  &__header {
    height: 5vh;
    display: flex;
  }

  &__button {
    margin: 0 10px;
    height: 90%;
    font-size: 16px;
    line-height: 16px;
    border-radius: 3px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    @include selectable(#f2d8ff);

    img {
      height: 4vh;
      margin-right: 2px;
    }
  }

  &__screen {
    height: 95vh;
  }

  &__logo {
    height: 100%;
  }

  &__spinner {
    width: 100px;
    height: 100px;
  }
}