$gray-border-color: #ced4da;

@mixin hoverable($color) {
  background-color: $color;
  border-color: darken($color, 30%);

  &:hover {
    cursor: default;
    &:enabled, &:not(button) {
      background-color: darken($color, 20%);
      cursor: pointer;
    }
  }

  &.selected {
    background-color: darken($color, 10%);
  }
}

@mixin selectable($color) {
  border-left: 5px solid transparent;
  background-color: $color;

  &:hover {
    cursor: initial;
    &:not(.selected) {
      background-color: darken($color, 10%);
      cursor: pointer;
    }
  }
  &.selected {
    border-left-color: darken($color, 30%);
  }
}

.alert {
  padding: .75rem 1.25rem;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;

  &--blue {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
  }

  &--yellow {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
  }

  &--red {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }

  &--teal {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
  }

  &--green {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  z-index: 99;

  &--white {
    background-color: white;
  }

  &__content {
    margin: auto;
    background-color: white;
    border-radius: 5px;

    &--no-bg {
      background-color: transparent;
    }

    &--padded {
      padding: 40px;
      display: flex;
      flex-direction: column;
      animation-name: fade-in;
      animation-duration: 0.5s;

      @keyframes fade-in {
        from { opacity: 0; }
        to { opacity: 1; }
      }
    }
  }
}

div {
  user-select: none;
}

input, textarea {
  border-radius: .25rem;
  padding: .375rem .75rem;
  border: 2px solid $gray-border-color;
  resize: none;

  &:focus {
    border-color: transparent;
    box-shadow: 0 0 4px 2px transparentize(dodgerblue, 0.5);
  }
}

button {
  border: none;
  border-radius: 5px;
  padding: .375rem .75rem;
}

.hidden {
  display: none !important;
}

.selectable {
  user-select: text;
}

table {
  width: 100%;
}

* {
  font-family: "UD Digi Kyokasho N-B", "MS Gothic", sans-serif;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  overflow: hidden;
}