.stats {
  &__toolbar {
    height: 7vh;
    display: flex;
    align-items: center;
  }

  &__toolbar-button {
    margin-left: 7px;
    @include hoverable(#fffbd4);
  }

  &__content {
    height: 88vh;
    position: relative;
  }

  &__charts {
    overflow: auto;
    height: 100%;
  }

  &__chart {
    height: 50%;
  }
}