.tag {
  &--nanami {
    @include hoverable(#f9e6ff);
  }
  &--hikari {
    @include hoverable(#ffffb3);
  }
  &--suzuka {
    @include hoverable(#ccd9ff);
  }
  &--tae {
    @include hoverable(#ffcce0);
  }
  &--omake {
    @include hoverable(#e6faff);
  }
  &--other {
    @include hoverable(#ffffff);
  }
  &--names {
    @include hoverable(#d2ffc7);
  }
}