.progress {
  background-color: #e9ecef;
  border-radius: 5px;
  border: 1px solid #bbb;
  height: 100%;
  overflow: hidden;
  position: relative;

  &__bar {
    transition: width 1s, background-color 1s;
    width: 0;
    height: 100%;
  }

  &__label {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 0;
    bottom: 0;
    color: #555;
  }
}

.spinner {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;

  &__circle {
    margin: auto;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(to right, #fbff71 10%, rgba(255, 255, 255, 0) 42%);
    animation: spin 1.4s infinite linear;

    &:before {
      //width: 50%;
      //height: 50%;
      background: #fbff71;
      border-radius: 100% 0 0 0;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
    }
    &:after {
      //background: white;
      width: 75%;
      height: 75%;
      border-radius: 50%;
      content: '';
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

  &__center-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
  }

  &__center {
    width: 60%;
    height: 60%;
    margin: auto;
  }
}

.autocomplete {
  display: flex;
  position: relative;
  margin: 5px;

  &__input {
    width: 100%;

    &:focus {
      border-color: $gray-border-color;
      border-bottom-color: transparent;
      outline: none;
      box-shadow: none;
    }
  }

  &__results {
    position: absolute;
    width: 100%;
    top: 90%;
    left: 0;
    max-height: 200px;
    background: white;
    z-index: 2;
    border: 2px solid $gray-border-color;
    border-top: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    flex-direction: column;
  }

  &__line {
    border-top: 1px solid #EEE;
    top: 90%;
    width: 90%;
    margin: 5px auto;

  }

  &__results-list {
    overflow: auto;
  }

  &__result {
    padding: 5px;
    cursor: pointer;

    &--selected {
      background-color: purple;
    }
  }

  &__result-highlight {
    background: #fff454;
  }

  &__message {
    position: absolute;
    justify-content: center;
    align-self: center;
    vertical-align: middle;
    right: 10px;
    color: #999999;
  }
}