.stats.main__screen
  .stats__toolbar
    %button.DATA__tl-button.stats__toolbar-button
      Translated
    %button.DATA__finished-button.stats__toolbar-button
      Finalized
    %button.DATA__characters-button.stats__toolbar-button
      Characters
    %button.DATA__lines-button.stats__toolbar-button
      Lines
  .stats__content
    #FIXTURE__stats-dialog
    .stats__charts
      #CHART__original-by-tag.stats__chart
      #CHART__progress-by-tag.stats__chart
      #CHART__file-completion.stats__chart
      #CHART__file-completion-by-tag.stats__chart
      #CHART__progress-by-day-tag.stats__chart
      #CHART__length-comparison-by-tag.stats__chart
