.autocomplete
  %input.DATA__input.autocomplete__input{placeholder: "Search for a script"}
  .DATA__message.autocomplete__message
  .DATA__results.autocomplete__results.hidden
    .autocomplete__line
    .DATA__results-list.autocomplete__results-list