.main
  .main__header
    %img.main__logo{ src: "logo.png" }
    %button.DATA__editor-button.main__button
      %img{src: "edit.png"}
      Editor
    %button.DATA__stats-button.main__button
      %img{src: "stats.png"}
      Stats
    %button.DATA__graph-button.main__button
      %img{src: "graph.png"}
      Graph
  #FIXTURE__main-dialog
  #CONTAINER__screens