.comment-entry
  .comment-entry__top
    %div
      %button.DATA__resolve.comment-entry__action
        %img.DATA__resolve-image.comment-entry__action-image
        %span.DATA__resolve-text
      %button.DATA__delete.comment-entry__action
        %img.DATA__delete-image.comment-entry__action-image
        %span.DATA__delete-text
    %span.DATA__date.comment-entry__date
  .DATA__comment.comment-entry__comment
