.editor__lookup.hidden
  Lookup
  %img.DATA__close.editor__lookup-close{src: "cross.png"}
  .DATA__term.editor__lookup-term
  .editor__lookup-images
    %img.editor__lookup-image.DATA__lamune-search{src: "lamune-search.png"}
    %img.editor__lookup-image.DATA__google{src: "google.png"}
    %img.editor__lookup-image.DATA__jisho{src: "jisho.png"}
    %img.editor__lookup-image.DATA__google-translate{src: "google-translate.png"}
    %img.editor__lookup-image.DATA__bing-translator{src: "bing-translator.png"}
    %img.editor__lookup-image.DATA__google-images{src: "google-images.png"}
    %img.editor__lookup-image.DATA__jaded-sfx{src: "jaded-sfx.png"}
