.editor__statusbar
  .DATA__file.editor__statusbar-item
  .DATA__unsaved.editor__statusbar-item.editor__statusbar-item--middle
  .DATA__left_to_index.editor__statusbar-item.editor__statusbar-item--right