.editor.main__screen
  .editor__progress
    #FIXTURE__editor-total-progress
  .editor__panels-container
    .editor__panel.editor__panel--left
      #FIXTURE__file-autocomplete
      #CONTAINER__files.editor__files
    .editor__panel.editor__panel--right
      .editor__toolbar
        .editor__toolbar-group
          .editor__toolbar-group-header
            Navigation
          .editor__toolbar-group-body
            %button.DATA__back.editor__toolbar-button.editor__toolbar-button--small
              %img{src: "back.png"}
            %button.DATA__forward.editor__toolbar-button.editor__toolbar-button--small
              %img{src: "forward.png"}
        .editor__toolbar-group
          .editor__toolbar-group-header
            Save
          .editor__toolbar-group-body
            %button.DATA__save.editor__toolbar-button
              %img{src: "save.png"}
            %button.DATA__save-all.editor__toolbar-button
              %img{src: "save-all.png"}
        .editor__toolbar-group
          .editor__toolbar-group-header
            Go to
          .editor__toolbar-group-body
            %button.DATA__graph.editor__toolbar-button
              %img{src: "graph.png"}
        .editor__toolbar-group
          .editor__toolbar-group-header
            Insert
          .editor__toolbar-group-body.DATA__insert-container
        .editor__toolbar-right-container
          .editor__toolbar-group
            .editor__toolbar-group-header
              Build
            .editor__toolbar-group-body
              %button.DATA__build.editor__toolbar-button
                %img.DATA__build-img{src: "hammer.png"}
              %button.DATA__run.editor__toolbar-button
                %img{src: "run.png"}
              %button.DATA__build-run.editor__toolbar-button
                %img{src: "build-run.png"}
          %input.DATA__search-term.editor__toolbar-input{placeholder: "Search anything"}
          %button.DATA__search.editor__toolbar-button.editor__toolbar-button--search.editor__toolbar-button--small
            %img{src: "search.png"}
          .editor__toolbar-group
            .editor__toolbar-group-header
              Publish
            .editor__toolbar-group-body
              %button.DATA__release.editor__toolbar-button
                %img{src: "release.png"}
              .editor__toolbar-spacer
      #FIXTURE__editor_lookup
      #FIXTURE__editor-dialog
      #CONTAINER__lines.editor__lines
      #FIXTURE__editor_statusbar