.file-entry.DATA__entry.tag
  .file-entry__progress
    .DATA__progress
  .file-entry__bottom
    .DATA__name
    %img.DATA__info.file-entry__info{src: "info.png"}
    .file-entry__right
      .DATA__comments-container.file-entry__comments
        .DATA__comments
        %img.DATA__comments-image.file-entry__comments-image{src: "comment.png"}
      .DATA__badge.file-entry__badge.hidden
        ✻