.modal.DATA__dialog
  .comments-dialog.modal__content.modal__content--padded.DATA__dialog-content
    .comments-dialog__body
      .DATA__comments.comments-dialog__comments.comments-dialog__left
      .comments-dialog__right
        .DATA__reference
        .comments-dialog__right-bottom
          .comments-dialog__comment-container
            %textarea.DATA__comment_input.comments-dialog__comment-input
            %button.DATA__comment_submit.comments-dialog__comment-submit
              Comment