.modal.DATA__dialog
  .modal__content.modal__content--padded.release-dialog.DATA__dialog-content
    .release-dialog__screen.DATA__enter_screen
      %input.release-dialog__input.DATA__name
      %button.DATA__release.release-dialog__button
        Release
    .release-dialog__screen.DATA__waiting_screen
      .release-dialog__spinner
        .DATA__spinner
    .release-dialog__screen.DATA__finish_screen