.modal.DATA__dialog
  .modal__content.modal__content--padded.search-dialog.DATA__dialog-content
    %input.DATA__term{placeholder: "Type to search"}
    .search-dialog__search-toolbar
      %input.DATA__tl.search-dialog__search-checkbox{type: "checkbox"}
      Translated
      %input.DATA__finished.search-dialog__search-checkbox{type: "checkbox"}
      Finalized
    .search-dialog__spinner
      .DATA__spinner
    .DATA__results-toolbar.search-dialog__results-toolbar
      .DATA__total
      .search-dialog__results-toolbar-right
        Page
        %button.DATA__previous.search-dialog__navigation-button
          %img{src: "previous_page.png"}
        .DATA__page.search-dialog__page
        %button.DATA__next.search-dialog__navigation-button
          %img{src: "next_page.png"}
    #CONTAINER__search_results.search-dialog__results-container