.search-dialog__result.DATA__result
  .search-dialog__result-row.search-dialog__result-row--right
    .DATA__file
    .DATA__line-num
  .search-dialog__result-row
    .DATA__original
  .search-dialog__result-row
    .DATA__tl
