.line-entry__row
  .line-entry__cell.line-entry__cell--half-left
    .DATA__original.selectable
  .line-entry__cell.line-entry__cell--half-right
    %input.DATA__tl.line-entry__input{spellcheck: "true"}