.line-entry__content.alert.alert--yellow
  .line-entry__row
    .line-entry__cell.line-entry__cell--short
      .DATA__original-name
    .line-entry__cell.line-entry__cell--wide
      .DATA__original.selectable
  .line-entry__row
    .line-entry__cell.line-entry__cell--short.line-entry__cell--flex-center
      .DATA__tl-name
      %image.DATA__name-edit.line-entry__name-edit{src: "edit2.png"}
    .DATA__tl-wrapper.line-entry__cell.line-entry__cell--wide.line-entry__cell--flex
      “
      %textarea.DATA__tl.line-entry__input{spellcheck: "true", rows: 1}
      ”