.line-entry__content.alert.alert--red
  .line-entry__heading
    Window Title
  .DATA__original.line-entry__cell.selectable
  .line-entry__cell
    %input.DATA__tl.line-entry__input{spellcheck: "true"}