<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Lamune Translate</title>
    <link rel="stylesheet" href="index.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    {{TEMPLATES}}
</head>

<body>
    <script src="index.bun.js"></script>
</body>
</html>