.graph__navigation
  #CONTAINER__graph_navigation_previous.graph__navigation-jump-container
  .graph__navigation-current-container
    .DATA__selected.graph__navigation-current.tag
    %button.DATA__editor_view.graph__editor-button
      Editor
  #CONTAINER__graph_navigation_next.graph__navigation-jump-container